*{
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  }


h1{
  font-size: 50px;
  text-align: center;
}
.nav{
  text-align: center;
}
.nav_1{
  display: inline-block;
}
ul{
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
li{
  display: inline-block;
  margin: 25px;
}
.nav_2{
  display: inline-block;
}
.button{
  display: inline-block;
  margin: 25px;
}
