/* setting */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 150, 250, 0.5);
    padding: 8px 12px;
    border-radius: 20px;
}

/* wrap */

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

/* header-wrap */

.header-wrap {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 100, 255);
}

/* header */

header {
    display: flex;
    max-width: 1200px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

/* logo */

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

logo > a {
    width: 100%;
    height: 100%;
}

.logo > a > img {
    width: 200px;
    height: 40px;
}

/* nav */

nav {
    width: 60%;
    height: 100%;
}

/* main-menu */

.main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.main-menu > li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-menu > li > a {
    display: block;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
}

.main-menu > li:hover > a {
    background-color: rgba(255, 255, 255, 0.1);
}

/* sub-memu */

.sub-menu {
    width: 100%;
    height: 180px;
    position: absolute;
    left: 0;
    top: 100px;
    background-color: #212121;
    z-index: 10;
}

.sub-menu > li {
    width: 100%;
}

.sub-menu > li:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.sub-menu > li > a {
    display: block;
    padding: 12px 0;
    text-align: center;
    color: #e1e1e1;
}

/* main */

main {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* slide */

.slide {
    display: flex;
    width: 100%;
    height: 300px;
}

.slide > a {
    position: relative;
}

/* section */

section {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

/* notice-menu */

.notice-menu {
    display: flex;
    width: 380px;
}

.notice-menu > a {
    display: block;
    padding: 8px 12px;
    background-color: #e0e0e0;
} 

.notice-menu > a.active {
    background-color: rgb(250, 200, 0);
}

.notice {
    width: 380px;
    height: 200px;
}

/* sub-notice */

.sub-notice {
    display: flex;
    height: 161px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
    border: 1px solid #bdbdbd;
    padding: 0 5px;
}

.sub-notice > li {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-notice > li:nth-child(2n) {
    background-color: rgba(250, 150, 0, 0.2);
}

.sub-notice > li > a {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px 0;
}

/* gallery */

.gallery {
    display: flex;
    border: 1px solid #bdbdbd;
    height: 161px;
    justify-content: space-around;
    align-items: center;
}

/* figuer */

figure {
    margin-left: 10px;
    position: relative;
}

/* article */

article {
    margin-left: 10px;
    position: relative;
}

/* ft-wrap */

.ft-wrap {
    width: 100%;
    height: 100px;
    background-color: #484848
}

/* footer */

footer {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* ft-logo */

.ft-logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

/* ft-group */

.ft-group {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ft-menu */

.ft-menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    
}

.ft-menu > li {
    width: 100%;
}

.ft-menu > li:hover {
    background-color: rgba(255, 255, 255, 0.1 );
    border-radius: 20px;
}

.ft-menu > li > a {
    display: block;
    text-align: center;
    padding: 5px 0;
    color: #212121;
}

/* copyright */

.copyright {
    color: #212121;
}

/* modal */

.modal {
    width: 450px;
    padding: 15px;
    border: 5px solid rgb(255, 100, 0);
    border-radius: 15px;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* btn */

.btn {
    display: flex;
    justify-content: flex-end;
}