/* setting */

body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

pre {
    margin: 0;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0;
}

/* wrap */

.wrap {
    width: 100%;
    height: 
    position: relative;
}


/* header-wrap */

.header-wrap {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 230, 100);
}

/* header */

header {
    display: flex;
    max-width: 1200px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* logo */

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
}

/* nav */

nav {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* main-menu */

.main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main-menu > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-menu > ul > li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-menu > ul > li:hover {
    background-color: rgba(0, 255, 150, 0.4)
}

.main-menu > ul > li > a {
    display: block;
    padding: 8px 12px;
    text-align: center;
    color: #333333;
    font-weight: bold;
}

/* container */

.container {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: flex-end;
}


/* sub-menu-wrap */

.sub-menu-wrap {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #333333;
    z-index: 10;
}

/* sub-menu */

.sub-menu {
    display: flex;
    width: 60%;
}

.sub-menu > ul {
    width: 100%;
    height: 100%;
    align-items: center;
}

.sub-menu > ul > li {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sub-menu > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sub-menu > ul > li > a {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: center;
}

/* main */

main {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* slider */

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* slide */

.slide {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.slide > a {
    position: relative;
}

.slide > a > img {
    display: flex;
    width: 1200px;
    height: 300px;
}

/* section */

section {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

section a {
    color: #333333;
}

/* notice */

.notice {
    display: flex;
    width: 390px;
    height: 100%:
}

.notice > ul {
    width: 100%;
    height: 100%;
}

.notice > ul > li {
    width: 100%;
    height: 100%;
}

.notice > ul > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #e1e1e1;
}

/* sub-notice */

.sub-notice {
    display: flex;
    height: 161px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #bdbdbd;
    padding: 0 10px;
    background-color: #ffffff;
}

.sub-notice > li {
      padding: 5px;
}

.sub-notice > li:nth-child(2n) {
    background-color: rgba(0, 0 , 0, 0.1);
}

/* gallery */

.gallery {
    width: 390px;
    height: 100%;
    margin-left: 10px;
}

.gallery > ul {
    width: 100%;
    height: 100%;
}

.gallery > ul > li {
    width: 100%;
    height: 100%;
}

.gallery > ul > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #e1e1e1;
}

/* picture*/

.picture {
    display: flex;
    height: 161px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
}


/* article */

article {
    margin-left: 10px;
    position: relative;
}

article > a {
    color: #f0f0f0;
}

/* ft-wrap */

.ft-wrap {
    width: 100%;
    height: 100px;
    background-color: #333333;
}

/* footer */

footer {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* copyright */

.copyright {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.copyright > p {
    color: #eeeeee;
}

/* ft-menu */

.ft-menu {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* sns */

.sns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* familysite*/

.familysite {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* modal-wrap*/

.modal-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

/* modal */

.modal {
    width: 300px;
    height: 237.361px;
    padding: 12px;
    border: 4px solid rgb(0, 255 , 100);
    background-color: #eeeeee;
    position: absolute;
}

/* btn */

.btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}