/* setting */

body {
    margin: 0;
}

a {
   text-decoration: none;
    color: #f0f0f0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

pre {
    margin: 0;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* wrap */

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

/* header-wrap */

.header-wrap {
    width: 100%;
    height: 100px;
    background-color: #333333;
}

/* header */

header {
    display: flex;
    max-width: 1200px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* logo */

.logo {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo > a > img {
    width: 200px;
    height: 40px;
}

/* nav */

nav {
    display: flex;
    width: 60%;
    height: 100%;
}

/* main-menu */

.main-menu {
    width: 100%;
    height: 100%;
}

.main-menu > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-menu > ul > li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-menu > ul > li:hover > a {
    background-color: rgba(0, 0, 0, 0.5);
}

.main-menu > ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 12px;
    font-weight: bold;
}

/* sub-menu */

.sub-menu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100px;
    background-color: rgb(30, 30, 30);
    z-index: 10;
}

.sub-menu > li {
    width: 100%;
    height: auto;
}

.sub-menu > li:hover {
    background-color: rgb(250, 150, 0);
}

.sub-menu > li > a {
    display: block;
    text-align: center;
    padding: 8px 12px;
}

/* main */

main {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* slider */

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.slide > a {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.slide > a > img {
    display: flex;
    width: 1200px;
    height: 300px;
}

/* section */

section {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

section a {
    color: #333333;
}

/* notice */

.notice {
    display: flex;
    width: 390px;
    height: 200px;
}

.notice > ul {
    display: flex;
    width: 100%;
    height: 100%;
}

.notice > ul > li {
    width: 100%;
    height: 100%;
}

.notice > ul > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #e1e1e1;
}

/* sub-notice */

.sub-notice {
    display: flex;
    width: auto;
    height: 161px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #bdbdbd;
    background-color: #fafafa;
}

.sub-notice > li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sub-notice > li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-notice > li > a {
    display: block;
    text-align: center;
}

/* gallery */

.gallery {
    display: flex;
    width: 390px;
    height: 200px;
    margin-left: 10px;
}

.gallery > ul {
    width: 100%;
    height: 100%;
}

.gallery > ul > li {
    width: 100%;
    height: 100%;
}

.gallery > ul > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #e1e1e1;
}

/* items */

.items {
    display: flex;
    width: auto;
    height: 161px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bdbdbd;
    background-color: #fafafa;
}

/* figure */

figure {
    margin: 0;
    margin-left: 10px;
    position: relative;
}

figure > a {
    color: #f0f0f0;
}

/* ft-wrap */

.ft-wrap {
    width: 100%;
    height: 100px;
    background-color: rgb(250, 150, 0);
}

/* footer */

footer {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* ft-logo */

.ft-logo {
    display: flex;
    width: 20%;
    justify-content: center;
}

/* copyright */

.copyright {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* sns */

.sns {
    display: flex;
    width: 20%;
    height: 100%;
}

.sns > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

/* modal */

.modal {
    width: 350px;
    padding: 12px;
    border: 5px solid  rgb(0, 100, 250);
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

/* .btn */

.btn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}