/*overall*/
*{
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
}
/*partial*/
.standard{
  max-width: 1000px;
  margin: 0 auto;
}
.padding-top-bottom{
  padding: 50px 0px 50px 0px;
}
.padding-bottom{
  padding-bottom: 10px;
}
.margin-top{
  margin-top: 90px;
}
/*top*/
.logo{
  display: inline-block;
}
.logo img{
  width: 150px;
}
.nav-bar{
  display: inline-block;
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.first,.second,.third{
  width: 35px;
  height: 5px;
  transition: 0.4s;
  background-color: black;
}
.second,.third{
  margin-top: 6px;
}
.trans .first{
  transform: rotate(-45deg)  translate(-5px,10px);
  background-color: lightgray;
}
.trans .second{
  opacity: 0;
}
.trans .third{
  transform: rotate(45deg) translate(-5px,-10px);
  background-color: gray;
}
.trans .dropdown-list-1,.dropdown-list-2{
  display: none;
}
.nav{
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  overflow: scroll;
  transition: 0.5s;
  background-color: black;
}
.nav a{
  display: block;
  text-align: center;
  color: rgb(190, 190, 190);
  font-size: 40px;
  padding: 10px 55px 10px 55px;
  transition: 0.35s;
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}
.nav a:hover{
  color: white;
}
.drop.dropdown-list-1{
  display: block;
}
.drop.dropdown-list-2{
  display: block;
}
.dropdown-list-1, .dropdown-list-2{
  display: none;
}
.dropdown-list-1 a, .dropdown-list-2 a{
  border: none;
  color: black;
}
.dropdown-list-1 a:hover ,.dropdown-list-2 a:hover{
  background-color: lightgray;
  color: black;
}
.text-icon{
  font-size: 20px;
}
