* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
}

.slider {
  width: 700px;
  height: 300px;
  border: 5px solid black;
  margin: 0 auto;
}
.prevBtn {
}
.nextBtn {
}
.list {
  display: flex;
  border: 3px solid black;
  width: 200px;
  height: 200px;
  margin-top: 45px;
  margin-left: 30px;
}
