/*----------------------------------------------------------------------

-----------------------------------------------------------------------*/
*{
  text-decoration: none;
  list-style:none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

/*----------------------------------------------------------------------

-----------------------------------------------------------------------*/
.active a{
  color: #CF9C67;
}
.active a:hover{
  color: orange;
}
h2,h3{
  color: white;
}
h2{
  max-width: 1000px;
  margin: 0 auto;
}
.top p,a{
  color: white;
}
.marginbottom{
  margin-bottom: 35px;
}
.margintop{
  margin-top: 9px;
}
.marginleft{
  margin-left: 30px;
}
.padding{
  padding: 70px 0px 70px 0;
}
.maxwidth{
  max-width: 1000px;
  margin: 0 auto;
}
.imgover{
  opacity: 1;
  border: 1px solid white;
}
.imgover:hover{
  opacity: 0.6;
  transition: .5s ease;
}
/*-----------------------------------------------------------------------
                              ↙Starts Topbar↙
-----------------------------------------------------------------------*/
.top{
  background-image: url('../images/1920x700.jpg');
  background-repeat: repeat;
  width: 100%;
  height: 650px;
}
.topbar{
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
  text-align: right;
}
.topbar ul{
  display: inline;
}
.topbar ul li{
  display: inline;
  margin-left: 15px;
}
/*-----------------------------------------------------------------------
                              ↖End Topbar↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↙Starts Header↙
-----------------------------------------------------------------------*/
header{
  display: block;
  background-color: rgb(45,45,45,0.3);
}
.header{
  padding: 30px 0px 30px 0px;
}
.logo{
  display: inline-block;
}
.nav{
  display: inline-block;
  float: right;
  margin-top: 5px;
}
.nav ul{
  display: inline-block;
}
.nav ul li{
  display: inline;
}
/*-----------------------------------------------------------------------
                              ↖End Header↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↙Starts Main↙
-----------------------------------------------------------------------*/
.main{
  padding: 160.9px 0px 160.9px 0px;
}
article{
  display: block;
  text-align: center;
}
article p{
  font-size: 25px;
}
article h3{
  font-size: 3rem;
}
article ul,li{
  display: inline-block;
}
.btn{
  font-size: 15px;
  margin-right: 5px;
  padding: 10px 7px 10px 7px;
  border: 2px solid #CF9C67;
  border-radius: 5px;
}
.btn:hover{
  font-size: 15px;
  margin-right: 5px;
  padding: 10px 7px 10px 7px;
  background-color: #CF9C67;
}

/*-----------------------------------------------------------------------
                              ↖End Main↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↙Starts Content↙
-----------------------------------------------------------------------*/
.sectiontitle{
  display: block;
  text-align: center;
}
.sectiontitle h4{
  font-size: 30px;
}
.sectiontitle p{
  color: gray;
  font-size: 15px;
}
.group{
  display: block;
  height: auto;
}
.support{
  display: inline-block;
  width: 480px;
  height: 360px;
  position: relative;
  bottom: 38px;
}
.support h5{
  font-size: 25px;
  font-weight: normal;
}
.support p{
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.photo{
  display: inline-block;
}
.read{
  display: block;
}
.read a{
  display: inline-block;
  color: white;
  font-size: 15px;
  padding: 10px 7px 10px 7px;
  border: 1.5px solid #CF9C67;
  border-radius: 5px;
  background-color: #CF9C67;
}
.read a:hover{
  color: #CF9C67;
  background-color: white;
}
/*-----------------------------------------------------------------------
                              ↖End Content↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↙Starts Middle↙
-----------------------------------------------------------------------*/
.middle{
  background-color: black;
}
.img{
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img ul{
  display:block;
  text-align: center;
}
.img ul li{
  display: inline-block;
}
.jpgover{
  opacity: 1;
  border: 1px solid white;
}
.jpgover:hover{
  opacity: 0.9;
  transition: .5s ease;
}

/*-----------------------------------------------------------------------
                              ↖End Middle↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↙Starts Team↙
-----------------------------------------------------------------------*/
.wrapteam{
}
footer a:visited{
  color: black;
}
footer a:hover{
  color: white;
  background-color: black;
  border-radius: 6px;
}
.team{
  display: block;
  text-align: center;
}
.teamname h4{
  font-size: 30px;
}
.teamname p{
  font-size: 15px;
  color: gray;
}
.members{
  display: block;
}
figure{
  display: inline-block;
}
figure h6{
  font-size: 15px;
}
figure p{
  color: gray;
  font-size: 10px;
}

/*-----------------------------------------------------------------------
                              ↖End Team↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↖Starts Bottom↖
-----------------------------------------------------------------------*/
.bottom{
  background-color: black;
}
.send{
  color: white;
  display: block;
  text-align: center;
}
.send h5{
  font-size: 30px;
}
.send p{
  font-size: 15px;
  color: gray;
}
::placeholder {
  color: white;
  opacity: 1;
}
.email{
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding: 8px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 2px solid gray;
}
.email:hover{
  background-color: black;
  border: 2px solid white;
  transition: .7s ease;
}

/*-----------------------------------------------------------------------
                              ↖End Bottom↖
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
                              ↖Starts Copyright↖
-----------------------------------------------------------------------*/
.end{
  padding: 20px 0px 20px 0px;
}
.end p{
    display: inline;
}
.end a{
  color: #CF9C67;;
}
.floatright{
  display: inline;
  float: right;
}
/*-----------------------------------------------------------------------
                              ↖End Copyright↖
-----------------------------------------------------------------------*/
