body {
  background-color: #252525;
}
table {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c2c2c2;
}
tr:nth-child(odd) {
  background-color: #e6e6e6;
}

audio {
  width: 175px;
  height: 15px;
}
