body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

pre {
    margin: 0;
}

/* header */

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #3cb149;
    justify-content: space-between;
    align-items: center;
}

/* logo */

.logo {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 200px;
    height: 40px;
}

/* main-menu */

.main-menu {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-menu > li {
    width: 100%;
}

.main-menu > li > a {
    display: block;
    padding: 8px 12px;
    font-weight: bold;
    text-align: center;
}

.main-menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* nav(sub-menu) */

.sub-menu {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    background-color: #333333;
    position: absolute;
    top: 100px;
    z-index: 10;
}

.sub-menu > nav {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-around;
}

.sub-menu > nav > ul {
    width: 100%;
}

.sub-menu > nav > ul > li > a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    color: #f0f0f0;
}

.sub-menu > nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* slider */

.slider {
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.slider > .slide > a {
    display: block;
    position: relative;
}

.slider > .slide > a > img {
    width: 1200px;
    height: 300px;
}

.slider > .slide > a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    color: #f0f0f0;
    background-color: rgba(0, 199, 60, 0.3);
    border-radius: 30px;
}

/* section */

section {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* notice */

.notice {
    display: flex;
    width: 33.3%;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}

.sub-notice {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.sub-notice > li {
    width: 100%;
    height: 100%;
}

.sub-notice > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #3cb149;
    color: #f0f0f0;
}

.sub-notice > li > ul {
    display: flex;
    width: 100%;
    height: 161px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #3cb149;
}

.sub-notice > li > ul > li {
    width: 100%;
    height: auto;
    text-align: center;
}

.sub-notice > li > ul > li:nth-child(1n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-notice > li > ul > li:nth-child(2n) {
    background-color: rgba(0, 199, 60, 0.2);
}

.sub-notice > li > ul > li > a {
    display: block;
    padding: 8px 12px;
}

/* gallery */

.gallery {
    display: flex;
    width: 33.3%;
    height: 200px;
}

.gallery > ul {
    width: 100%;
    margin-right: 10px;
}

.gallery > ul > li > a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #3cb149;
    color: #f0f0f0;
}

.gallery > ul > li {
    width: 100%;
    height: 100%;
}

.pictures {
    display: flex;
    width: auto;
    height: 161px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #3cb149;
}



/* benner */

.benner {
    display: flex;
    width: 33.3%;
    height: 200px;
    position: relative;
}

.benner > a {
    color: #f0f0f0;
}

.benner > a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background-color: rgba(0, 199, 60, 0.3);
    border-radius: 30px;
}

/* footer */

footer {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #bdbdbd;
}

.ftlogo {
    display: flex;
    width: 20%;
    justify-content: center;
}

.copyright {
    display: flex;
    width: 60%;
    justify-content: center;
    color: #333333;
}

.familySite {
    display: flex;
    width: 20%;
    justify-content: center;
}

/* modal */

.wrapModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eeeeee;
    z-index: 15;
    padding: 8px 12px;
    border: 3px solid #333333;
}

.modal > .btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}