/* Css Reset */
@import url(basics_reset.css);

/* Variables */
:root {
  --drak-color: #263238;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  grid-column: 1/13;
}

h1 {
  font-size: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Nav Bar */

.bar1,
.bar2,
.bar3 {
  display: block;
  height: 5px;
  margin: auto 0;
  border-radius: 50%;
  background-color: black;
  transition: 0.3s;
  z-index: 2;
}

.bar1,
.bar3 {
  width: 30px;
}

.bar2 {
  width: 20px;
  margin: 0 auto;
}

.barstyle .bar1 {
  transform: rotate(-0.14turn) translate(-7px, 5px);
}

.barstyle .bar2 {
  opacity: 0;
}

.barstyle .bar3 {
  transform: rotate(0.14turn) translate(-7px, -5px);
}

aside {
  display: flex;
  width: 320px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
