body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

.wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    justify-content: space-between;
}


.logo{
    margin: auto 0;
}

nav {
    width: 600px;
    text-align: center;
}

nav > .main-menu {
    display: flex;
    width: 100%;
    background-color: powderblue;
}

nav > .main-menu > li {
    display: block;
    width: 25%;
}

nav > .main-menu > li:hover > a {
    background-color: aqua;
}

nav > .main-menu > li > a {
    display: block;
    width: 100%;
    padding: 8px 0px;
    font-size: 18px;
}

.sub-menu > li > a {
    display: block;
    padding: 8px 12px;
    
}

.sub-menu > li:hover {
    background-color: aquamarine;
    
}