/* setting */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

pre {
    margin: 0;
}

/* wrap */

.wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* hedaer */

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #aa00ff;
}

header > .logo {
    margin: auto 0;
    margin-left: 12px;
}

nav {
    display: flex;
    width: 600px;
    height: 100%;
    background-color: #aa00ff;
    margin-right: 12px;
}

nav > .main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
}

nav > .main-menu > li {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 31.5px;
    background-color: #aa00ff;
}

nav > .main-menu > li > a {
    display: block;
    padding: 8px 12px;
    color: #f0f0f0;
}

nav > .main-menu > li:hover > a {
    background-color: #9d46ff;
}

.sub-menu {
    display: none;
    width: 100%;
    height: 148px;
    position: relative;
    top: 31.5px;
    background-color: #7200ca;
    z-index: 11;
}

.sub-menu > li {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.sub-menu > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    color: #f0f0f0;
}

.sub-menu > li:hover {
    background-color: #9d46ff;
}

/* slide */

.slidr {
    width: 100%;
    height: 300px;
}

.slide {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    overflow: hidden;
}

.item {
    position: relative;
}

.item > img {
    display: flex;
}

.item > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

/* section */

section {
    display: flex;
    width: 100%;
    height: 200px;
}

.notice {
    width: 400px;
}

.notice > span {
    display: flex;
}

.notice > span > a {
    display: block;
    padding: 8px 12px;
    background-color: #e1e1e1; 
}

.notice > span > a:nth-child(2) {
    margin-left: 1px;
}

.notice > .sub-notice {
    display: flex;
    width: 400px;
    height: 161px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e1e1e1;
}

.notice > .sub-notice > li:nth-child(1n) {
    background-color: #bdbdbd;
}

.notice > .sub-notice > li:nth-child(2n) {
    background-color: #eeeeee;
}

.notice > .sub-notice > li > a {
    display: block;
    padding: 8px 12px;
}

figure {
    width: 400px;
    height: 100%;
    background-color: cadetblue;
    margin: 0;
}

article {
    width: 400px;
    height: 100%;
    background-color: greenyellow;
}