/* setting */

body {
    margin: 0;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* wrap */

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.logo {
    margin: auto 0;
}

nav {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-menu {
    display: flex;
    width: 100%;
    height: 37px;
    justify-content: space-around;
}

.main-menu > li {
    display: block;
    width: 100%;
    height: 100%;
}

.main-menu > li > a {
    display: block;
    padding: 12px;
    background-color: #e1e1e1;
}

.main-menu > li:hover > a {
    background-color: #eeeeee;
}

.sub-menu {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
}

.sub-menu > li {
    padding: 5px;
    background-color: #eeeeee;
}

.sub-menu > li:hover {
    background-color: #e1e1e1;
}

.sub-menu > li > a {
    display: block;
    padding: 8px 12px;
}

/* slider */

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide > img {
    display: flex;
}

/* section */

section {
    display: flex;
}

.notice {
    width: 400px;
    height: 200px;
    background-color: red;
}

.benner {
    width: 400px;
    height: 200px;
    background-color: blue;
}

article {
    width: 400px;
    height: 200px;
    background-color: green;
}